:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Epilogue", sans-serif;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--MediumGray);
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s all ease-in;
}

a:hover {
  color: var(--AlmostBlack);
}

.arrow-down {
  margin-left: 0.2rem;
  cursor: pointer;
}

.container {
  max-width: 140rem;
  padding: 2rem 3rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  background-color: var(--AlmostWhite);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 70px;
}

.header__nav {
  display: flex;
  flex: 1;
  margin-left: 5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dropdown-features {
  padding: 2rem;
  position: absolute;
  border-radius: 1rem;
  box-shadow: -3px 10px 61px -22px var(--MediumGray);
  background-color: var(--white);
  top: 4rem;
  left: -5rem;
  display: none;
}

.dropdown-company {
  padding: 2rem;
  position: absolute;
  border-radius: 1rem;
  box-shadow: -3px 10px 61px -22px var(--MediumGray);
  background-color: var(--white);
  top: 4rem;
  left: 10rem;
  display: none;
}

.dropdown-features.active {
  display: flex;
}

.dropdown-company.active {
  display: flex;
}

.dropdown-features ul,
.dropdown-company ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-features ul li,
.dropdown-company ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-features img,
.dropdown-company img {
  width: 14px;
  height: 14px;
}

.imgs-container .audiophile {
  width: 55px;
}

.header__list,
.header__buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__icons {
  display: none;
  position: relative;
  z-index: 9999999;
}

.header-menu {
  flex: 1;
}

.header .btn-register {
  border: 1px solid var(--AlmostBlack);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.header .btn-register:hover {
  outline: 1px solid var(--AlmostBlack);
}

.hero {
  display: grid;
  gap: 5rem;
  max-width: 120rem;
  margin: 5rem 10rem 2rem 12rem;
  grid-template-columns: 1fr 1fr;
}

.hero-image {
  height: 70vh;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 8.5rem;
}

.hero-title {
  font-size: 6.4rem;
}

.hero-info p {
  max-width: 35rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--MediumGray);
}

.hero-btn {
  padding: 1.5rem 2.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--AlmostWhite);
  border-radius: 1.2rem;
  background-color: var(--AlmostBlack);
  align-self: flex-start;
  transform: translateY(-3rem);
}

.hero-btn:hover {
  color: var(--AlmostBlack);
  background-color: transparent;
  outline: 1px solid var(--AlmostBlack);
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgs-container {
  display: flex;
  align-items: center;
}

.col-1 img {
  width: 75px;
  margin-right: 3rem;
}

.col-2 {
  display: flex;
  justify-content: flex-end;
}

.hero-image-mobile {
  display: none;
}

@media (min-width: 768px) {
  .header__nav {
    display: flex !important;
    flex: 1;
    margin-left: 5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    background-color: var(--white);
    height: 100vh;
    padding: 2rem 0;
    position: relative;
  }

  .header {
    display: flex;
    padding: 0 2rem;
  }

  .header.active .header__list,
  .header.active .header__buttons,
  .header.active .header__close--btn {
    display: block;
  }

  .header__nav {
    position: absolute;
    top: 8rem;
    left: 19rem;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    gap: 2rem;
    display: none;
  }

  .header__list,
  .header__buttons {
    gap: 2rem;
  }

  .header__nav a {
    font-size: 1.6rem;
  }

  .header__list,
  .header__buttons,
  .header__close--btn {
    display: none;
  }

  .header.active .header__list,
  .header.active .header__buttons,
  .header.active .header__close--btn {
    display: flex;
    flex-direction: column;
  }

  .header__close--btn {
    width: 18px;
    height: 18px;
  }

  .header__icons {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .hero {
    margin: 5rem 0;
    grid-template-columns: 1fr;
  }

  .hero-info {
    align-items: center;
    text-align: center;
    padding-top: 0;
    gap: 3rem;
    margin-bottom: 1rem;
  }

  .hero-info p {
    max-width: 39rem;
    font-size: 1.8rem;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-title br {
    display: none;
  }

  .hero-btn {
    align-self: center;
    transform: translateY(-2rem);
    margin: 1rem 0;
  }

  .col-1 {
    grid-row: 2;
  }

  .col-2 {
    grid-row: 1;
  }

  .col-1 img {
    margin-right: 0;
  }

  .imgs-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .hero-image {
    display: none;
  }

  .hero-image-mobile {
    display: block;
    width: 100%;
  }

  .header-menu {
    z-index: 999999;
  }

  .header__list {
    align-items: flex-start;
    margin-left: 2rem;
  }

  .header__buttons {
    margin-top: 2rem;
    margin-left: 2rem;
    align-items: flex-start;
  }

  .btn-register {
    text-align: center;
  }

  .dropdown-features,
  .dropdown-company {
    padding: 2rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: none;
    background-color: transparent !important;
    top: 0;
    left: 0;
  }

  .dropdown-features ul,
  .dropdown-company ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dropdown-features ul li,
  .dropdown-company ul li {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--MediumGray);
  }
}

@media (max-width: 23.75em) {
  html {
    font-size: 40%;
  }
  .imgs-container {
    flex-wrap: wrap;
  }
}
